<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436059892138-lusvr05le90shv8bpggg738lalh1goir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436059892138-lusvr05le90shv8bpggg738lalh1goir</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>436059892138-d1pgq2kv604fjdo9at3llu0mb1d3t4a2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBV3LNM1-B4376UIvG34Dq-8kLISRk82N8</string>
	<key>GCM_SENDER_ID</key>
	<string>436059892138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>study-flutter-441bd</string>
	<key>STORAGE_BUCKET</key>
	<string>study-flutter-441bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436059892138:ios:85638b5462084e496ce3d3</string>
	<key>DATABASE_URL</key>
	<string>https://study-flutter-441bd.firebaseio.com</string>
</dict>
</plist>